{% extends "layout.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/about1.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>The Zacks Research Daily presents the best research output of our analyst team. Today's Research Daily features new research reports on 16 major stocks, including Alibaba Group, NVIDIA and Bristol Myers Squibb. These research reports have been hand-picked from the roughly 70 reports published by our analyst team today.</p>
        <p>Alibaba shares have modestly lagged the Zacks Internet Commerce industry over the past year (+43.8% vs. +52.7%), but have otherwise been stellar performers. The Zacks analyst believes that Alibaba Group is driven by a steady improvement in core commerce and strong cloud business. The company continues to benefit from strong growth in metrics.</p>
        <p>The company is also benefiting from strong growth in GeForce desktop and notebook GPUs, which is boosting gaming revenues. Moreover, a surge in Hyperscale demand remains a tailwind for the company’s Data Center business. The company expanded NVIDIA GeForce NOW in the last quarter, which is expected to drive user base.!</p>
        <p>Eliquis is the leading oral anti-coagulant drug and the company continues to witness growth in both Eliquis brand and the market. The label expansion of Opdivo for first-line NSCLC should boost growth. The addition of sales from Celgene’s drugs (acquired in November 2019) has boosted growth prospects. In particular, the addition of Revlimid has strengthened the oncology portfolio.</p>
        <p>From thousands of stocks, 5 Zacks experts each picked their favorite to gain +100% or more in months to come. From those 5, Zacks Director of Research, Sheraz Mian hand-picks one to have the most explosive upside of all.</p>
        <p>Want the latest recommendations from Zacks Investment Research? Today, you can download 7 Best Stocks for the Next 30 Days. Click to get this free report NVIDIA Corporation (NVDA) : Free Stock Analysis Report PetroChina Company Limited (PTR) : Free Stock Analysis Report Bristol Myers Squibb Company (BMY) : Free Stock Analysis Report Alibaba Group Holding Limited (BABA) : Free Stock Analysis Report SP Global Inc. (SPGI) : Free Stock Analysis Report To read this article on Zacks.com click here. Zacks Investment Research...</p>
      </div>
    </div>
  </div>

  <hr>

  
  {% endblock %}
